/* .layout-builder {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  position: relative;
} */

.partition {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  overflow: hidden;
  height: 100px;
}

/* .split-btn, .remove-btn {
  position: absolute;
  top: 10px;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  z-index: 1;
} */

/* .split-btn {
  right: 50px;
} */

/* .remove-btn {
  right: 10px;
} */

/* .resizable {
  resize: both;
  overflow: auto;
  border: 1px solid #ccc;
} */
